



.div-big{
 background-color: rgb(107, 221, 221);
 text-align: center;
 height: 50%;
}

#button{

    display: flex;
    justify-content: center;
 text-align: center;
}


#price{
    size: 12vh;
border: 1px rgb(147, 178, 218) solid;
border-radius: 0.5vw;
width: 37vw;
height: 5vh;
background-color: rgb(255, 255, 255);

}



